encrypt/validate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cipher">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="m_cipher"/>
        <xs:element type="xs:string" name="s_cipher1"/>
        <xs:element type="xs:string" name="s_cipher2"/>
        <xs:element name="details">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="result"/>
              <xs:element type="xs:string" name="opertaion"/>
              <xs:element type="xs:string" name="path"/>
              <xs:element type="xs:string" name="time"/>
              <xs:element type="xs:string" name="exceptionName"/>
              <xs:element type="xs:string" name="exceptionMsg"/>
              <xs:element type="xs:string" name="exceptionStackTrace"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>